<div class="nav-bar-container">
    <ul class="">
        <li routerLinkActive="active-link" routerLink="/home/dashboard" class="item"><a>{{'app.component.navigationBar.dashboard' | translate}}</a></li>
        <li routerLinkActive="active-link" routerLink="/home/messages" class="item"><a>{{'app.component.navigationBar.messages' | translate}}</a></li>
        <li routerLinkActive="active-link" routerLink="/home/estate/list" class="item"><a>{{'app.component.navigationBar.list' | translate}}</a></li>
        <li routerLinkActive="active-link" routerLink="/home/profile" class="item"><a>{{'app.component.navigationBar.profile' | translate}}</a></li>
        <li routerLinkActive="active-link" routerLink="/home/account" class="item"><a>{{'app.component.navigationBar.account' | translate}}</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
