<div class="console-wrapper">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 no-padding">
      <div class="navigation">
        <ul>
          <li><a routerLink="/console/messages">Сообщения</a></li>
          <li><a routerLink="/console/complaint">Жалобы</a></li>
          <li><a routerLink="/console/estates">Обьявления</a></li>
          <li><a routerLink="/console/notification">Уведомления</a></li>
          <li><a routerLink="/console/calls">Звонки</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</div>