<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="loading-wrapper">
        <loading [insideOverlay]="true" [show]="confirmSuccess === undefined"></loading>
      </div>
      <figure *ngIf="confirmSuccess === true">
        <i class="fa fa-check-circle"></i>
        <figcaption>
          {{'app.account.confirm.unlockPassword.success.first' | translate}}<br>
          {{'app.account.confirm.unlockPassword.success.second' | translate}} <a routerLink="/account/password/recovery">{{'app.account.confirm.unlockPassword.success.link' | translate}}</a>
        </figcaption>
        <a class="home-link" routerLink="/login">{{'app.account.confirm.unlockPassword.success.linkToLogin' | translate}}</a>   
      </figure>
      <figure *ngIf="confirmSuccess === false">
          <i class="fa fa-ban"></i>
          <figcaption>
            {{'app.account.confirm.unlockPassword.fail.first' | translate}} <br> {{'app.account.confirm.unlockPassword.fail.second' | translate}}
          </figcaption>  
          <a class="home-link" routerLink="/">{{'app.account.confirm.unlockPassword.fail.linkToHome' | translate}}</a>    
        </figure>
    </div>
  </div>
</div>