<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="inner-container">
          <h1>{{'app.home.faq.title.main' | translate}}</h1>
          <p class="title">
            <span>{{'app.home.faq.title.small.left' | translate}}</span>
            <app-support [text]="'app.home.faq.title.small.middle'"></app-support>
            <span>{{'app.home.faq.title.small.right' | translate}}</span>
          </p>
          <br>
          <br>
        <div class="content">
          <h3>Мені не приходить лист для підтвердження електронної пошти та інші поштові повідомлення, що мені зробити?</h3>
          <br>
          <ol>
            <li>
              Зачекайте 15 хвилин після відправки. Зазвичай листи доходять за 1-2 хвилини, але іноді можуть затримуватися не з нашої вини.
            </li>
            <li>
              Перевірте папку «Спам». Можливо, лист помилково потрапив туди.
            </li>
            <li>
              Переконайтеся, що електронна пошта введена правильно.
            </li>
            <li>
              Лист може не приходити через особливості налаштувань Вашої поштової скриньки. Необхідно дозволити доставку листів від
              <strong>rentorio.com</strong> (Наприклад, для пошти від bigmir.net, перейти до налаштувань «білого списку» http://mbox.bigmir.net/settings/
              white_list/ та додати до нього адресу @rentorio.com )
            </li>
            <li>
              Якщо ви спробували все, але нічого не допомагає, - напишіть нам <a>support@rentorio.com</a>
            </li>
          </ol>

          <br>

          <h3>Чому мені не приходять SMS?</h3>
          <br>
          <p>Можливі причини та способи усунення проблеми:</p>
          <ol>
            <li>
              Перевантажена пам'ять SMS-повідомлень у телефоні або SIM-карті. Будь ласка, видаліть непотрібні повідомлення.
            </li>
            <li>
              Якщо ви контрактний абонент, у вас можуть бути заблоковані вхідні SMS-повідомлення. (Зверніться до Вашого оператора щодо
              скасування «заборони»)
            </li>
            <li>
              Ви перебуваєте в зоні невпевненого покриття мережі. Перезавантажте мобільний телефон (вимкніть/увімкніть).
            </li>
            <li>
              Ваш телефон був зайнятий іншою операцією (SMS, дзвінок або сесія мобільного інтернету). Очікуйте на SMS-повідомлення протягом
              декількох хвилин після завершення дзвінка або інтернет-сесії.
            </li>
            <li>
              У роботі вашого телефону або SIM-карти стався збій. Спробуйте переставити SIM-карту в інший телефон.
            </li>
            <li>
              Якщо ви спробували все, але нічого не допомагає, - напишіть нам <a>support@rentorio.com</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>