<div class="container">
    <div class="row">
        <div class="list-wrapper">
            <div class="content">
                <h3>{{'app.component.unsupported.browser.title' | translate}}</h3>
                <p>{{'app.component.unsupported.browser.description' | translate}}</p>
                <figure>
                    <a target="_blank" href="https://www.google.com/chrome"><img src="../assets/image/browsers/chrome.png" alt="chrome"></a>
                    <figcaption>Chrome</figcaption>
                </figure>
                <figure>
                    <a target="_blank" href="https://www.mozilla.org"><img src="../assets/image/browsers/firefox.png" alt="firefox"></a>
                    <figcaption>Firefox</figcaption>
                </figure>
                <figure>
                    <a target="_blank" href="http://www.opera.com"><img src="../assets/image/browsers/opera.png" alt="opera"></a>
                    <figcaption>Opera</figcaption>
                </figure>
                <figure>
                    <a target="_blank" href="https://www.microsoft.com"><img src="../assets/image/browsers/edge.png" alt="edge"></a>
                    <figcaption>Edge</figcaption>
                </figure>
                <figure>
                    <a target="_blank" href="https://support.apple.com/downloads/safari"><img src="../assets/image/browsers/safari.png" alt="safari"></a>
                    <figcaption>Safari</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>