<div class="container-inner">
  <div class="send-email-loading-wrapper">
    <loading [insideOverlay]="true" [show]="showLoading"></loading>
  </div>
  <div *ngIf="!params && !showLoading">
    <div [ngClass]="{'hidde':sendEmailSuccess || wrongResetToken}">
      <h2>{{'app.component.reset.password.sendEmail.title'|translate}}</h2>
      <p>{{'app.component.reset.password.sendEmail.description'|translate}}</p>
      <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
        <div class="form-group">
          <label for="email">{{'app.component.reset.password.sendEmail.email.label'|translate}}</label>
            <input formControlName="email" maxlength="250" type="text" class="form-control" name="email" placeholder="{{'app.component.reset.password.sendEmail.email.placeholder'|translate}}">
            <span class="has-error" *ngIf="sendEmailForm.get('email').hasError('required') && sendEmailAttempt">{{'app.component.reset.password.sendEmail.email.error.required'|translate}}</span>
            <span class="has-error" *ngIf="sendEmailForm.get('email').hasError('pattern') && sendEmailAttempt && sendEmailForm.get('email').dirty">{{'app.component.reset.password.sendEmail.email.error.wrong.input'|translate}}</span>
            <p class="has-error" *ngIf="sendEmailError">{{'app.component.reset.password.sendEmail.error'|translate}}</p>
        </div>
        <button type="submit" class="default-btn">{{'app.component.reset.password.sendEmail.button'|translate}}
          <div class="btn-loading-wrapper">
            <loading [show]="sendEmailLoading"></loading>
          </div>
        </button>
      </form>
    </div>
    <div *ngIf="sendEmailSuccess">
      <h2 class="text-success">{{'app.component.reset.password.sendEmail.success.title'|translate}}</h2>
      <p>{{'app.component.reset.password.sendEmail.success.description.first'|translate}} {{sendEmailForm.value.email}} {{'app.component.reset.password.sendEmail.success.description.second'|translate}}</p>
    </div>
  </div>
  <div *ngIf="params && resetPasswordError.length === 0 && !showLoading">
    <div [ngClass]="{'hidde':resetPasswordSuccess}">
      <h2>{{'app.component.reset.password.sendPassword.title'|translate}}</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="password">{{'app.component.reset.password.sendPassword.password.label'|translate}}</label>  
            <input maxlength="250" formControlName="password" type="password" class="form-control" name="password" placeholder="{{'app.component.reset.password.sendPassword.password.placeholder'|translate}}">            
          <div class="has-error"*ngIf="resetPasswordForm.get('password').hasError('pattern') && resetPasswordAttempt">{{'app.component.registration.password.error.pattern' | translate}}</div>
          <div class="has-error"*ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordAttempt">{{'app.component.reset.password.sendPassword.password.error.required'|translate}}</div>
          <div class="has-error" *ngIf="resetPasswordForm.get('password').hasError('minlength') && resetPasswordForm.get('password').dirty">{{'app.component.reset.password.sendPassword.password.error.short'|translate}}</div>
          <div class="has-error" *ngIf="resetPasswordForm.get('password').hasError('maxlength') && resetPasswordForm.get('password').dirty">{{'app.component.reset.password.sendPassword.password.error.long'|translate}}</div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">{{'app.component.reset.password.sendPassword.confirm.password.label'|translate}}</label>
            <input formControlName="confirmPassword" type="password" maxlength="250" class="form-control" name="confirmPassword" placeholder="{{'app.component.reset.password.sendPassword.confirm.password.placeholder'|translate}}">
          <span class="has-error" *ngIf="resetPasswordForm.hasError('nomatch') && resetPasswordAttempt">{{'app.component.reset.password.sendPassword.confirm.password.error.unconfirm'|translate}}</span>
          <span class="has-error"*ngIf="resetPasswordForm.get('confirmPassword').hasError('required') && resetPasswordAttempt">{{'app.component.reset.password.sendPassword.confirm.password.error.required'|translate}}</span>
        </div>
        <div class="has-error" [ngSwitch]="resetPasswordError">
          <span *ngSwitchCase="'InvalidPasswordPolicyError'">{{'app.component.reset.password.sendPassword.error.InvalidPasswordPolicyError'|translate}}</span>
          <span *ngSwitchCase="'InvalidConfirmPasswordError'">{{'app.component.reset.password.sendPassword.error.InvalidConfirmPasswordError'|translate}}</span>
          <span *ngSwitchDefault></span>
        </div>
        <button type="submit" class="default-btn">
          {{'app.component.reset.password.sendPassword.button'|translate}}
          <div class="btn-loading-wrapper">
            <loading [show]="resetPasswordLoading"></loading>
          </div>
        </button>
      </form>
    </div>
    <div *ngIf="resetPasswordSuccess">
      <h2 class="text-success">{{'app.component.reset.password.sendPassword.success.title'|translate}}</h2>
      <p>{{'app.component.reset.password.sendPassword.success.description'|translate}}</p>
      <button routerLink="/login" type="submit" class="default-btn">{{'app.component.reset.password.sendPassword.success.button'|translate}}</button>
    </div>
  </div>
  <div class="wrong-reset-token-container" *ngIf="wrongResetToken">
    <h3>{{'app.component.reset.password.error.text'|translate}}</h3>
    <button (click)="wrongResetToken = false" routerLink="/account/password/recovery" type="submit" class="default-btn">{{'app.component.reset.password.error.button'|translate}}</button>
  </div>
</div>