.action-btn{
  outline: none;
  background: #ff8004;
  color: #fff;
  border: 1px solid #ff9800;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 40px;
}

.action-btn:hover {
    background: #ff9800;
}

.next{
    float:right;
}

.wrong-input {
    color: orange;
}

.box-shadow{
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.07);
}


